.pagination-container{
	width: 100%;
	background: white;
	display: block;
	height: auto;
}

.pagination-container nav{
	background-color: #F5F5F5 ;
	padding-top: 5px;
	display: flex;
	justify-content: center;
}