@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.container-news{
  width: 80%;
  margin-left: 10%;
}

.text-center{
  font-family: 'Roboto', sans-serif;
}

.card-news{
 height: 150px;
 width: 100%;
}

.card-title{
  font-size: 18px;
  text-align: justify;
}

.card-text{
  text-align: justify;
  font-size: 12px;
  opacity: 0.5;
}
.card-news-bag{
  padding-bottom: 10px;
}

.more-info{
  height: 30px;
  background-color: #187bcd;
  padding-top: 5px;
  font-family: 'Rajdhani', sans-serif;
  cursor: pointer;
}

.more-info h5::after {
  padding-left: 0px;
  padding-top: 0px;
  content: '>>';
  opacity: 0;
  transition: 0.5s;
}

.more-info h5:hover:after{
  padding-left: 3px;
  opacity: 1;
}

.link-to-go{
  text-decoration: none;
  color:  black;
}

@media screen and (max-width:  770px){
body{
    
}
  .card-news{
    height: 150px;
    max-width: 350px;
  }

}





.swiper-button-next::before{
  content: '';
  position: absolute;
  right: -8px;
  width: 185%;
  height: 115%;
  background-color: #C5C6D0;
  z-index: -1;
  border-radius: 200px;
  opacity: 0;
  transition: 0.5s;
}

.swiper-button-next:hover:before{
  opacity: 1;
  
}

.swiper-button-prev::before{
  content: '';
  position: absolute;
  left: -7px;
  width: 185%;
  height: 115%;
  background-color: #C5C6D0;
  z-index: -1;
  border-radius: 200px;
  opacity: 0;
  transition: 0.5s;
  
}

.swiper-button-prev:hover:before{
  opacity: 1;
  
}
