.sponsor{
	width: 98%;
	margin-left: 1%;
	display: flex;
	justify-content: center;
    background-color: white;
}



.sponsor-title h1{
	color: black;
	font-size: 40px;
	padding: 20px;
} 

.sponsor img{
	height: 150px;
}

@media all and (max-width: 1250px){
	.sponsor img{
	height: 100px;
}
}

@media all and (max-width: 700px){

   

	.sponsor img{
	height: 50px;
}
}